rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /weddings/{weddingId} {
      allow read, write: if true;
      
      match /{allChildren=**} {
        allow read, write: if true;
      }
    }
  }
}
